# Imagens de referência de layout (não precisam ir pro site)
layout do *.jpeg
logo do *.jpeg
logo-plataforma.jpeg
logo-oito.jpeg

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
